body {
  background: #40405a;
  color: #e3e3e3;
}
.app-container {
  background: #40405a;
  max-width: 1000px;
  margin: auto;
  position: relative;
  top: 50px;
}
.ui.attached.header {
  background: #40405a;
  color: #d55161;
  border-color: rgba(255, 255, 255, 0.3);
  padding-right: 26px;
  padding-left: 26px;
}
.ui.attached.segment{
  background: #40405a;
  border-color: rgba(255, 255, 255, 0.3);
}
.ui.inverted.segment, .ui.primary.inverted.segment {
  background: #40405a;
}
.ui.list .list>.item>.content, .ui.list>.item>.content {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
}
.ui.inverted.list .list>.item .header, .ui.inverted.list>.item .header {
  padding-bottom: 15px;
}
.item {
  padding-top: 30px;
}